node_modules/
hola-mundo/hola-mundo/hola-mundo/bin/
hola-mundo/hola-mundo/hola-mundo/obj/
MiPrimerWebApiM3/MiPrimerWebApiM3/bin/
MiPrimerWebApiM3/MiPrimerWebApiM3/obj/
primerWebAPIVSCode/bin/
primerWebAPIVSCode/obj/
