node_modules/
hola-mundo/hola-mundo/hola-mundo/bin/
hola-mundo/hola-mundo/hola-mundo/obj/
MiPrimerWebApiM3/MiPrimerWebApiM3/bin/
MiPrimerWebApiM3/MiPrimerWebApiM3/obj/
primerWebAPIVSCode/bin/
primerWebAPIVSCode/obj/
IHostedServiceDemo/IHostedServiceDemo/IHostedServiceDemo/bin/
IHostedServiceDemo/IHostedServiceDemo/IHostedServiceDemo/obj/
MiPrimerWebApiM3/.vs/MiPrimerWebApiM3/v16/TestStore/
MiPrimerWebApiM3/.vs/MiPrimerWebApiM3/DesignTimeBuild/.dtbcache.v2
IHostedServiceDemo/IHostedServiceDemo/.vs/IHostedServiceDemo/v16/TestStore/
