node_modules/
hola-mundo/hola-mundo/hola-mundo/bin/
hola-mundo/hola-mundo/hola-mundo/obj/
MiPrimerWebApiM3/MiPrimerWebApiM3/bin/
MiPrimerWebApiM3/MiPrimerWebApiM3/obj/
primerWebAPIVSCode/bin/
primerWebAPIVSCode/obj/
IHostedServiceDemo/IHostedServiceDemo/IHostedServiceDemo/bin/
IHostedServiceDemo/IHostedServiceDemo/IHostedServiceDemo/obj/
MiPrimerWebApiM3/.vs/MiPrimerWebApiM3/v16/TestStore/
MiPrimerWebApiM3/.vs/MiPrimerWebApiM3/DesignTimeBuild/.dtbcache.v2
IHostedServiceDemo/IHostedServiceDemo/.vs/IHostedServiceDemo/v16/TestStore/
StoredProcedureDemo/StoredProcedureDemo/obj/
StoredProcedureDemo/StoredProcedureDemo/bin/
StoredProcedureDemo/.vs/StoredProcedureDemo/v16/TestStore/
Seguridad/Seguridad/obj/
Seguridad/Seguridad/bin/
Seguridad/.vs/Seguridad/v16/TestStore/
Pruebas/PruebasAutomaticas/PruebasAutomaticas.Tests/obj/
Pruebas/PruebasAutomaticas/PruebasAutomaticas/bin/
Pruebas/PruebasAutomaticas/PruebasAutomaticas.Tests/bin/
Pruebas/PruebasAutomaticas/PruebasAutomaticas/obj/
